/* LWCComponent.css */
:host {
    display: block;
  }
  
  /* Basic styles for the datatable */
  .datatable-container {
    width: 100%;
  }
  
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid lightgray;
    text-align: left;
    padding: 8px;
    text-align: center;
  }
  
  /* tr:nth-child(even) {
    background-color: #dddddd;
  } */

  .error-message{
    color: red;
    padding: 5px 0;
  }
  .container{
    position: relative;
  }
  .search-results{
      position: absolute;
      z-index: 2;
      width: 100%;
      top: 117px;
      left: 175px;
  }
  .headingcontent{
    width: 100%;
    height: fit-content;
    background-color: cadetblue;
  }
  .heading{
    text-align: center;
    padding: 3px;
    color: white;
    font-weight: bold;
    font-size: 25px;
    font-family: fangsong;
  }
  .Headingnorecords{
    text-align: center;
    font-size: 32px;
    margin: 30px;
    font-weight: bold;
    font-family: ui-monospace;
    color: red;
  }