/* body {
    margin: 3em;
  } */
  .card-img-top {
    border-radius: 50%;
    width: 30%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    /* width: 60%;
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
  }
  .card {
    padding: 1.5em 0.5em 0.5em;
    text-align: center;
    border-radius: 2em;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  .card-title {
    font-weight: bold;
    font-size: 1.5em;
  }
  .btn-primary {
    border-radius: 2em;
    padding: 0.5em 1.5em;
  }

  /* workstatus */
  /* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.datacard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  /* text-align: center; */
  background-color: #f1f1f1;
}

.cardcontainer{
  display: flex;
  padding: 4px;
  /* justify-content: space-evenly; */
}
.count{
  color: black;
  font-weight: bold;
}
.left{
  width: 24%;
  padding: 4px;
}
.cardfooter{
  padding-top: 6px;
}