.mySidenav a {
  position: fixed;
  /* top: 5px; */
  right: -22px;
  z-index: 5;
  transition: 0.3s;
  padding: 15px;
  width: 100px;
  text-decoration: none;
  font-size: 10px;
  color: white;
  border-radius: 0 5px 5px 0;
}

.mySidenav a:hover {
  right: 2px;
}

.about {
  top: 20px;
  background-color: #04AA6D;
}

.blog {
  top: 80px;
  background-color: #2196F3;
}

.projects {
  top: 140px;
  background-color: #f44336;
}

.contact {
  top: 200px;
  background-color: #555
}