.clientdetails{
    display: flex;
    justify-content: space-around;
    padding: 4px;
    /* grid-template-columns: repeat(8, 1fr);
    column-gap: 10px;
    row-gap: 1em; */
}
.logoimg{
    width: 38px;
    height: 38px;
    /* border-radius: 45%; */
}
.contentpara{
    text-align: center;
    font-size: small;
    padding: 5px;
}